.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: none;
  border-radius: 10px;
  margin: 30px auto;
  padding: 30px;
  max-width: 1250px;
}

.card {
  width: 450px;
  height: 800px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea el texto a la izquierda */
  width: 90%; /* Limita el ancho del contenedor al 70% de la página */
  margin: 20px auto; /* Centra el contenedor horizontalmente */
}

.line-wrapper {
  width: 100%; /* Hace que la línea abarque el 100% del contenedor */
}

.line {
  width: 90%; /* Ajusta el ancho de la línea para que no llegue a los bordes */
  height: 2px; /* Grosor de la línea */
  background-color: white; /* Color de la línea */
  margin: 10px 0; /* Espacio vertical entre el título y las líneas */
}

.title {
  font-weight: bold; /* Texto en negrita */
  color: white; /* Color del texto */
  margin: 0; /* Elimina el margen predeterminado */
  padding-left: 10px; /* Da un poco de espacio entre el borde izquierdo y el texto */
}
