<div class="container col-md-4 offset-md-4 mt-5 hero-form">
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  <div class="card">
    <h4 class="card-header text-center">
      ¿Welcome! <br />The Dark Side is waiting
    </h4>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input
            type="email"
            formControlName="username"
            class="form-control"
            placeholder="john2b"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
          />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">
              Email address is required
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="rememberMe" />
          <label class="form-check-label" for="rememberMe">Remember me</label>
        </div>

        <div class="d-flex justify-content-center">
          <button [disabled]="loading" class="btn btn-primary me-2">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm me-1"
            ></span>
            Log in
          </button>
        </div>

        <div class="register text-center mt-3">
          <p>
            Don't have an account?
            <a href="/register" class="btn btn-link">Create account</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
