:host {
    display: block;
    background-color: #181611; /* Fondo negro */
    color: #fff; /* Color de texto blanco para contraste */
    min-height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
    padding: 20px; /* Espaciado interno */
  }

.card {
    background-color: #121212; /* Color de fondo oscuro */
    border: none; /* Sin borde */
    padding: 25px;
}

.card-header {
    color: #ffffff; /* Texto blanco para el encabezado */
    font-size: 1.5rem; /* Tamaño de fuente del encabezado */
    padding-top: 15px;
}

.form-control {
    border: 1px solid #658492; /* Borde del campo de entrada */
    border-radius: 6px; /* Bordes redondeados */
}

.form-check-label {
    color: #ffffff; /* Texto blanco para la etiqueta de "Recordarme" */
}

.form-check-input:focus {
    background-color: #fa6544;
    border-color: #fdbcad;
    outline: 0;
    box-shadow: 0 0 0 .15rem #fdbcad;
}

.form-label{
    color: aliceblue;
}

.register{
    color: aliceblue;
}

.btn-primary {
    width: 70%; /* Ancho completo */
    padding: 10px ; /* Espaciado interno */
    border-radius: 6px; /* Bordes redondeados */
    background-color: #fa6544; /* Color del botón */
    border-color: #fa6544;
    color: #ffffff; /* Texto blanco */
}

.btn-link {
    text-decoration: none; /* Eliminar subrayado */
    color: #f1502c; /* Color del texto */
}

.btn-link:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}
