:host {
  display: block;
  background-color: #181611;
  color: #fff;
  min-height: 100vh;
  padding: 20px;
}

.card {
  background-color: #000000;
  border: none;
  padding: 25px;
}

.card-header {
  color: #ffffff;
  font-size: 1.5rem;
  padding-top: 15px;
}

.form-control {
  border: 1px solid #658492;
  border-radius: 6px;
}

.form-check-label {
  color: #ffffff;
}

.form-check-input:focus {
  background-color: #fa6544;
  border-color: #fdbcad;
  outline: 0;
  box-shadow: 0 0 0 0.15rem #fdbcad;
}

.form-label {
  color: aliceblue;
}

.register {
  color: aliceblue;
}

.btn-primary {
  width: 70%;
  padding: 10px;
  border-radius: 6px;
  background-color: #fa6544;
  border-color: #fa6544;
  color: #ffffff;
}

.btn-link {
  text-decoration: none;
  color: #f1502c;
}

.btn-link:hover {
  text-decoration: underline;
}
