<div class="container">
  <div *ngIf="loading; else starshipList" class="text-center my-3">
    <p>Cargando naves...</p>
  </div>

  <ng-template #starshipList>
    <div *ngIf="starships.length > 0; else noStarships">
      <ul class="list-group">
        <li
          *ngFor="let starship of starships"
          (click)="goToDetails(starship)"
          class="list-group-item d-flex justify-content-between align-items-center"
          style="cursor: pointer"
        >
          <div>
            <strong>{{ starship.name }}</strong>
            <p class="mb-0">{{ starship.model }}</p>
          </div>
        </li>
      </ul>

      <div *ngIf="loading" class="loading-indicator text-center my-3">
        <p>Cargando más naves...</p>
      </div>
    </div>

    <ng-template #noStarships>
      <p class="text-center">No se encontraron naves.</p>
    </ng-template>
  </ng-template>

  <div class="text-center my-3">
    <button type="button" *ngIf="starships.length >= 36 && !loading" class="btn btn-primary" (click)="loadStarships()">
      View More
    </button>
  </div>

  <div id="scrollAnchor" style="height: 1px;"></div>
</div>
