<div>
  <div *ngIf="loading; else starshipList">
    <p>Cargando naves...</p> <!-- Mensaje de carga -->
  </div>

  <ng-template #starshipList>
    <div *ngIf="starships.length > 0; else noStarships">
      <ul>
        <li *ngFor="let starship of starships">
          <strong>{{ starship.name }}</strong> - {{ starship.model }}
          <img
            *ngIf="starship.image"
            [src]="starship.image"
            alt="{{ starship.name }}"
            (error)="onImageError($event)"
          />
        </li>
      </ul>
      <div *ngIf="loading" class="loading-indicator">
        <p>Cargando más naves...</p> <!-- Mensaje de carga para nuevas naves -->
      </div>
    </div>

    <ng-template #noStarships>
      <p>No se encontraron naves.</p>
    </ng-template>
  </ng-template>
</div>

<div id="scrollAnchor" style="height: 1px;"></div>
