<nav>
  <a href="/" (click)="switchView('home')" style="cursor: pointer">Home</a>
  <a href="/starships" (click)="switchView('starships')" style="cursor: pointer"
    >Starships</a
  >
</nav>
<!-- Uso de *ngIf en lugar de *If -->
<!-- <div *ngIf="currentView === 'home'">
  <h1>Bienvenido a la página principal</h1>
  <p>Aquí puedes encontrar información general.</p>
</div> -->

<!-- <div *ngIf="currentView === 'starships'">
  <app-starships></app-starships>
</div> -->

<router-outlet></router-outlet>
