/***** TITTLE TEXT *****/
.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin: 20px auto;
}

.line-wrapper {
  width: 90%; 
}

/******** CARDS *******/

.title {
  font-weight: bold; 
  color: white;
  margin: 0;/
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: none;
  border-radius: 10px;
  max-width: 1250px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
}

.film-card {
  width: 250px; 
  height: 400px; 
  margin: 10px;
  transition: transform 0.2s;
}

.film-card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  height: 150px;
  display: flex;
  flex-direction: column;
  background-color: #181611;
  /* justify-content: space-between; */
}

