<div class="title-container">
  <div class="line-wrapper">
    <hr class="line" />
  </div>
  <h2 class="title">Films</h2>
  <div class="line-wrapper">
    <hr class="line" />
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let film of films">
      <div class="card film-card text-white bg-dark">
        <img
          [src]="getFilmImage(film.url)"
          class="card-img-top"
          alt="{{ film.title }}"
        />
        <div class="card-body">
          <h5 class="card-title text-center">{{ film.title }}</h5>
          <p class="card-text text-center">Release Date: {{ film.release_date }}</p>
          <p class="card-text text-center">Director: {{ film.director }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
