<div class="home-container">
  <h1>¡Bienvenido a la galaxia de Star Wars!</h1>
  <p>¡Un viaje intergaláctico a través de la saga que ha capturado corazones!</p>
  <div class="buttons">
    <a (click)="navigateTo('starships')" class="btn" style="cursor: pointer"  >Explorar Naves</a >
      <a (click)="navigateTo('films')" class="btn" style="cursor: pointer"  >Ver Filmes</a >
    <!-- <a routerLink="/films" class="btn">Ver Filmes</a>
    <a routerLink="/starships" class="btn">Explorar Naves</a>
    <a routerLink="/characters" class="btn">Conocer Personajes</a> -->
  </div>
  <footer>
    <p>"Que la Fuerza te acompañe" - Obi-Wan Kenobi</p>
  </footer>
</div>
<!-- <app-pilots [starshipUrl]="starship.url"></app-pilots>
<app-films [starshipUrl]="starship.url"></app-films> -->