:host {
    display: block;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Color de texto blanco para contraste */
    min-height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
    padding: 20px; /* Espaciado interno */
  }